<!-- 
    El "model Escuela" genera que se respeten la visualización de los 
    atributos en el render de la aplicación de esta forma se puede ser 
    mas estricto a hora de renderizar los elementos
 -->
@model List<Asignatura>

@{
    ViewData["Title"] = "Información Asignatura";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

@foreach (var asignatura in Model)
{
    <partial name="AsignaturaSimple" model="@asignatura"/>
}


<h2>Fecha: @ViewData["Fecha"]</h2>

