<!-- 
    El "model Escuela" genera que se respeten la visualización de los 
    atributos en el render de la aplicación de esta forma se puede ser 
    mas estricto a hora de renderizar los elementos
 -->
@model Curso

@{
    ViewData["Title"] = "Información Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>
<partial name="ObjetoEscuelaSimple"/>

<h2>Fecha: @ViewData["Fecha"]</h2>

